h1 a {
    color: #000000;
  font-family: 'Oranienbaum', serif;
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration:none;
}

.col-md-8{
    margin-left: 195px;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Oranienbaum', serif;
}

.date {
    float: none;
    color: #828282;
}

.save {
  position: relative;
left: 690px;
top: -340px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    margin-top: 50;
}

.post {

    margin-bottom:80px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
.post-text{

  overflow-y: hidden;
   height: 70px;
   margin-bottom:20px;

}

.redact
{
  position: relative;
left: 705px;
top: 61px;
}
.fig{

  text-align: center;
}
